$container-bg:  #F3F1F1;


body {
    margin: 0;
    padding: 0;
    background-color: $container-bg;
  }

  #error-message {
    color: #BE1C1C;
    text-align: center;
    font-family: "Raleway", sans-serif;
  }