body {
  margin: 0;
  padding: 0;
  background-color: #F3F1F1;
}

.signUp-container {
  margin-top: 25px;
  width: 100%;
  height: 700px;
  background-color: #F3F1F1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-body {
  width: 70%;
  min-width: 436px;
  height: 600px;
  border: 1px solid black;
  background: url(../images/bg-img.jpg);
  box-shadow: 0px 0px 20px 5px #888888;
  display: flex;
  justify-content: flex-end;
}

.login-box {
  width: 400px;
  min-width: 345px;
  border: 1px solid black;
  background-color: #ffffff;
  opacity: 0.9;
  margin: -20px 10%;
  box-shadow: -1px 0px 1px 0px #888888, 0.5px 0px 2px 0px #888888;
}

.fold {
  position: relative;
  top: -180.5px;
  left: -15px;
  width: 0;
  height: 0;
  transform: rotate(45deg);
}

.fold {
  border: 14px solid black;
  border-left-color: black;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.fold2 {
  position: relative;
  top: 392.5px;
  left: -15px;
  width: 0;
  height: 0;
  transform: rotate(45deg);
}

.fold2 {
  border: 14px solid black;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: black;
}

.logo {
  min-width: 185px;
  min-height: 185px;
  max-width: 100px;
  max-height: 100px;
  position: relative;
  top: 10px;
  left: 104px;
}

img {
  width: 100%;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: -40px;
}

.text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

input[type=text], input[type=password] {
  border: 1px solid black;
  width: 80%;
  margin: 10px;
  padding: 18px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.button-container {
  background-color: gray;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 60px;
  border: 1px solid black;
}

#sign-up, #back-btn {
  border: none;
  background-color: gray;
  padding: 18px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.container {
  margin-top: 25px;
  width: 100%;
  height: 650px;
  background-color: #F3F1F1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-body {
  width: 80%;
  min-width: 356px;
  height: 650px;
  border: 1px solid black;
  background: url(../images/chat-screen-images/chat-screen-bg-img.png);
  box-shadow: 0px 0px 20px 5px #888888;
  display: flex;
  flex-direction: column;
}

.chat-header {
  border: 1px solid black;
  background-color: #ffffff;
  opacity: 0.9;
  font-family: "Raleway", sans-serif;
  height: 10%;
  display: flex;
  flex-direction: row;
}

.chat-header > p {
  position: relative;
  top: 3px;
  left: 20px;
  font-size: 20px;
  text-align: left;
  width: 96%;
}

#exit-btn {
  height: 39px;
  width: 42px;
  position: relative;
  top: 17px;
  left: -20px;
  border: none;
  background-color: transparent;
}

#exit-btn > img {
  height: 30px;
  width: 30px;
  position: relative;
  top: -3px;
  left: 6px;
}

.chat-body {
  background-color: #ffffff;
  height: 80%;
  overflow: auto;
}

.chat-body > div {
  font-family: "Raleway", sans-serif;
}

.msg-container {
  margin: 20px;
}

.msg-bubble-left {
  padding: 20px;
  background: #EAEECD;
  position: relative;
  margin: 20px 30px;
}

.msg-bubble-left::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 0px;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-right: 16px solid #EAEECD;
  border-bottom: 20px solid transparent;
}

.msg-bubble-right {
  right: 0;
  display: inline-block;
  padding: 20px;
  background: #CDEEEE;
  position: relative;
  margin-right: 10px;
}

.msg-bubble-right::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0px;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-left: 16px solid #CDEEEE;
  border-bottom: 20px solid transparent;
}

.chat-message-box {
  border: 1px solid black;
  background-color: #EAEAEA;
  height: 10%;
  display: flex;
  align-items: center;
}

#chat-input-msg {
  position: relative;
  left: -11px;
  width: 94%;
  height: 44%;
  font-family: "Raleway", sans-serif;
  font-size: 20.5px;
}

#send-btn {
  position: relative;
  left: -10px;
  height: 100%;
  width: 64px;
  border: none;
  background-color: #EAEAEA;
}

#send-btn > img {
  height: 30px;
  width: 30px;
  position: relative;
  top: 2px;
  left: -1px;
}

div .login-container {
  margin-top: 25px;
  width: 100%;
  height: 700px;
  background-color: #F3F1F1;
  display: flex;
  justify-content: center;
  align-items: center;
}
div .login-container-body {
  width: 70%;
  min-width: 436px;
  height: 600px;
  border: 1px solid black;
  background: url(../images/login-images/bg-img.jpg);
  box-shadow: 0px 0px 20px 5px #888888;
  display: flex;
  justify-content: flex-end;
}
div .login-box {
  width: 400px;
  min-width: 345px;
  border: 1px solid black;
  background-color: #ffffff;
  opacity: 0.9;
  margin: -20px 10%;
  box-shadow: -1px 0px 1px 0px #888888, 0.5px 0px 2px 0px #888888;
}
div .fold {
  position: relative;
  top: -180.5px;
  left: -15px;
  width: 0;
  height: 0;
  transform: rotate(45deg);
}
div .fold {
  border: 14px solid black;
  border-left-color: black;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
div .fold2 {
  position: relative;
  top: 392.5px;
  left: -15px;
  width: 0;
  height: 0;
  transform: rotate(45deg);
}
div .fold2 {
  border: 14px solid black;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: black;
}
div .logo {
  min-width: 185px;
  min-height: 185px;
  max-width: 100px;
  max-height: 100px;
  position: relative;
  top: 10px;
  left: 104px;
}
div img {
  width: 100%;
  height: 100%;
}
div form {
  display: flex;
  flex-direction: column;
  margin-top: -40px;
}
div .text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}
div input[type=text], div input[type=password] {
  border: 1px solid black;
  width: 80%;
  margin: 10px;
  padding: 18px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}
div .social-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  min-width: 348px;
  min-height: 62px;
}
div .fg-img {
  width: 15px;
  height: 15px;
  margin-right: 30px;
}
div .google-img {
  width: 15px;
  height: 15px;
  margin-right: 30px;
}
div #fb-btn, div #google-btn {
  padding: 18px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-align: left;
}
div #fb-btn {
  border: 1px solid black;
  background-color: #3B5998;
  margin: 10px 20px 0px 30px;
}
div #google-btn {
  border: 1px solid black;
  background-color: #dd4b39;
  margin: 10px 20px 30px 30px;
}
div .button-container {
  background-color: gray;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 0px;
  border: 1px solid black;
}
div #sign-in, div #sign-up {
  border: none;
  background-color: gray;
  padding: 18px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

#page-wrapper {
  padding: 17em 5em;
}

.loading {
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #000;
}

.loading:before,
.loading:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: 0 -3.3em;
  width: 10em;
  border-bottom: 1px solid #000;
  animation: loading 3s forwards linear;
  animation-iteration-count: infinite;
}

@keyframes loading {
  0% {
    width: 0em;
    opacity: 0.1;
  }
  70% {
    width: 8em;
    opacity: 1;
  }
  100% {
    width: 10em;
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
